*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif,monospace;

}

/*paleta de colores*/
:root {
    --color1: #4FD28F;
    --color2: #FD9558;
    --color3: #FFB761;
    --color4: #1EBBC3;
    --color5: #588C8C;
}
