.contain{
    width: 100%;
    height: 20rem;
    background-size: 100%;
    background-image: url(../img/css03.jpg);
    background-repeat: no-repeat;
    padding-top: 15rem;    
}

.etiqueta-center{
 
    text-align: center;
}
.img1 img{
    width: 30rem;
    height: 20rem;
    float: right; 
}

.parrafo-1{
    font-size: 2rem;
    font-family: sans-serif;
    color:black;
    text-align: justify;    
}

.titulo-td{
    text-align: justify;
    padding: 1.5rem;    
}

.nav-2{
    
    font-size: 4rem;
    font-family:monospace;
    color: white;
    text-align: justify;
    background: #D98943;
    margin: 1.5rem 0rem 1.5rem 0rem;
    text-align: center;
}

.lu{
    font-size: 2rem;
    font-family: sans-serif;
    color: black;
    text-align: justify; 
}

.title-2{
    background: var(--color5);
    font-family: monospace;
    font-size: 5px;
    text-align: center;
    color: white;
}

.css-table{
    background: var(--color2);
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: monospace;
}

.contain h1{
    font-family: sans-serif;
    color: white; 
    font-size: 5rem;
    padding-top: -0.5rem;
}
.contain h2{
    font-family: sans-serif;
    color: white;
    font-size: 3rem;
}

.td-5{
    text-align: center;
     font-size: 2rem;
     color: black; 
     font-family:sans-serif 
 }

.img-4{
    width: 45rem;
    height: 30rem;
    float:right;
    margin: 7rem 5rem 5rem 5rem;
}

.contain-2{
    width: 60rem;
    height: 30rem;
    float: inherit;
}

.nav-3{
    background: var(--color3);
    font-family: monospace;
    font-size: 3rem;
    text-align: center;
    color: white
}